.loadingScreenContainer{
    position: fixed;
    width: 85vw;
    height: 100%;
    background-color: rgb(37, 37, 37);  
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
    gap: 25px;
}
.skeleton{
    width: 20vw;
    height: 25vh;
    animation: skeletonAnimation 2s infinite ease-in-out alternate;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.skeletonVideo{
    width: 20vw;
    height: 20vh;
    background-color: gray;
    margin-top: 10px;
}
.skeletonImage{
    background-color: gray;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
.skeletonText{
    background-color: gray;
    width: 15vw;
    height: 2vw;
}
@keyframes skeletonAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media only screen and (max-width: 1524px){  
    .loadingScreenContainer{
        width: 85vw !important;
    }
}
@media only screen and (max-width: 1000px){ 
    .loadingScreenContainer{
        margin-left: 10vw !important;
        width: 90vw !important;
     } 
    .skeleton{
        width: 35vw;
        height: 35vh;
        justify-content: flex-start;
    }
    .skeletonVideo{
        width: 33vw;
    }
    .skeletonImage{
        background-color: gray;
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
    }
    .skeletonText{
        background-color: gray;
        width: 20vw;
        height: 5vw;
    }
}
@media only screen and (max-width: 710px){
    .loadingScreenContainer{
        margin-left: 0vw !important;
        width: 100vw !important;
    }  
    .skeleton{
        width: 80vw;
    }
    .skeletonVideo{
        width: 80vw;
    }
    .skeletonImage{
        background-color: gray;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
    }
    .skeletonText{
        background-color: gray;
        width: 50vw;
        height: 10vw;
    }
  
}