.settingsViewContainer{
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settingsTitle{
    width: 55vw;
    height: 5vh;
    color: rgb(231, 64, 64);
    font-size: 48px;
    padding: 15px;
}
.settingsForm{
    width: 55vw;
    margin-top: 5vh;
    min-width: fit-content;
    height: 75vh;
    border-radius: 15px;
    box-shadow: 0px 0px 56px 12px rgba(0,0,0,1);
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.settingsCurrentUserInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: gray;
    gap: 25px;
}
.settingsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    min-width: fit-content;
    gap: 15px;
}
.settingsSpan{
    color: white
}
.settingsUserName{
    font-size: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.settingsUserEmail{
    font-size: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.settingsUserIcon{
    border-radius: 50%;
    width: 10vw;
    min-width: 130px;
    height: 10vw;
    min-height: 130px;
}
.settingsSaveChangesButton{
    margin-top: 50px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
    color: grey;
    font-size: 24px;
    cursor: pointer;
}
.settingsInputs{
    display: flex;
}
.settingsChangeIconWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.settingsChangeIconLabel{
    font-size: 25px;
}
.settingsChangeIcon{
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}
@media only screen and (max-width: 755px){
    .settingsForm{
        flex-direction: column;
        height: fit-content;
    }
    .settingsInputs{
        flex-direction: column;
        align-items: center;
    }
    .settingsInfo{
        gap: 0;
    }
    .settingsTitle{
        width: 100%;
    }
}
@media only screen and (max-width: 456px){
    .settingsViewContainer{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .settingsForm{
        width: 100% !important;
        height: fit-content !important;
        border-radius: 0;
    }
    .settingsCurrentUserInfo{
        flex-direction: column;
    }
    .settingsUserIcon{
        margin-top: 50px;
    }
    .settingsInputs{
        width: 100vw;
    }
    .settingsInfo{
        gap: 0;
    }
    .settingsTitle{
        display: none;
    }
    .settingsChangeIconWrapper{
        gap: 5px;
    }
    .settingsChangeIcon{
        width: 95vw;
        font-size: 25px;
    }
    .settingsChangeIconLabel{
        padding: 5px;
        font-size: 24px;
        cursor: pointer;
    }
    .settingsSaveChangesButton{
        margin-bottom: 20px;
    }
}